body {
  background-color: #F2F2F2;
  color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #222;
}

h2 {
  color: #333;
  font-size: 40px;
  margin-top: 40px;
}

h3 {
  font-size: 30px;
}

.back-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: block;        
  width: fit-content;    
  margin-left: 20px;    
}

ol li {
  margin-bottom: 10px;
  list-style-type: decimal;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

.info-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 500px;
}
